rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    match /admins/{userId} {
      allow read: if request.auth.uid == userId;
    }
    match /users/{userId} {
      allow read: if request.auth.uid == userId;
      match /moneyPlans/{planId} {
        allow read, write: if request.auth.uid == userId;
      }
      match /moneyBankAccounts/{bankId} {
        allow read, write: if request.auth.uid == userId;
      }
      match /moneyCardAccounts/{cardId} {
        allow read, write: if request.auth.uid == userId;
      }
      match /bankSnapshots/{snapshotId} {
        allow read, write: if request.auth.uid == userId;
      }
      match /cardSnapshots/{snapshotId} {
        allow read, write: if request.auth.uid == userId;
      }
    }
  }
}
